# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Binaries for programs and plugins
/leaktk
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Cache/Build files
dist/
build/
.cache

# Editor files
*~
*.swp

# Python files
__pycache__/
*.py[codz]
*$py.class
*.egg-info/
*.egg
MANIFEST
