name: Build, sign and upload release artifacts

env:
  GO_VERSION: '1.24'
  GO111MODULE: on

on:
  push:
    tags:
      - "v[0-1].[0-9]+.[0-9]+"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  tests:
    uses: ./.github/workflows/testing.yml

  goreleaser:
    name: Create release artifacts
    needs: [ tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
        with:
          fetch-depth: 0

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # pin@v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # pin@v3
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # pin@v4.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # pin@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # pin@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
