name: Build, sign and upload release artifacts

env:
  GO_VERSION: '1.24'
  GO111MODULE: on

on:
  push:
    tags:
      - "v[0-1].[0-9]+.[0-9]+"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  tests:
    uses: ./.github/workflows/testing.yml

  goreleaser:
    name: Create release artifacts
    needs: [ tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # pin@v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # pin@v3
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # pin@v4.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # pin@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # pin@v6.4.0
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # PAT with access to write contents to leaktk/homebrew-tap
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
          # The base64 of the contents of your '.p12' key.
          MACOS_SIGN_P12: ${{ secrets.MACOS_SIGN_P12 }}
          # The password to open the '.p12' key.
          MACOS_SIGN_PASSWORD: ${{ secrets.MACOS_SIGN_PASSWORD }}
          # The base64 of the contents of your '.p8' key.
          MACOS_NOTARY_KEY: ${{ secrets.MACOS_NOTARY_KEY }}
          # The ID of the '.p8' key.
          MACOS_NOTARY_KEY_ID: ${{ secrets.MACOS_NOTARY_KEY_ID }}
          # The issuer UUID.
          MACOS_NOTARY_ISSUER_ID: ${{ secrets.MACOS_NOTARY_ISSUER_ID }}
          
