name: Testing & Linting

defaults:
  run:
    shell: bash

env:
  GO_VERSION: '1.24'
  GO111MODULE: on

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  go-mod:
    name: Running go mod check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v4

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # pin@v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check go mod
        run: |
          go mod tidy
          git diff --exit-code go.mod
          git diff --exit-code go.sum

  test:
    name: Running tests on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v4

      - name: Install
        if: startsWith(runner.os, 'Linux')
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  gosec:
    name: Running gosec security checks on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2

      - name: Run Gosec Security Scanner
        uses: securego/gosec@398ad549bbf1a51dc978fd966169f660c59774de # pin@v2.23.0
        with:
          args: ./...

  golangci-lint:
    name: Running linting on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v4

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # pin@9.2.0
        with:
          args: --timeout=2m
          version: latest
