name: Testing & Linting

defaults:
  run:
    shell: bash

env:
  GO_VERSION: '1.24'
  GO111MODULE: on

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  go-mod:
    name: Running go mod check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # pin@v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check go mod
        run: |
          go mod tidy
          git diff --exit-code go.mod
          git diff --exit-code go.sum

  test:
    name: Running tests on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4

      - name: Install
        if: startsWith(runner.os, 'Linux')
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  gosec:
    name: Running gosec security checks on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4

      - name: Run Gosec Security Scanner
        uses: securego/gosec@c9453023c4e81ebdb6dde29e22d9cd5e2285fb16 # pin@master
        with:
          args: ./...

  golangci-lint:
    name: Running linting on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y libbtrfs-dev

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # pin@v9.1.0
        with:
          args: --timeout=2m
          version: latest
